/* Estilo geral*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body{
    background-color: black;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(80, 233, 113);
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

h2.titulo{
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h2.titulo span{
    color: rgb(68, 238, 68);
}

button:hover form .btn-enviar input:hover{
    box-shadow: 0px 0px 8px rgb(29, 231, 114);
    transform: scale(1.05);
}

/* Estilo do cabeçalho*/
header{
    padding: 40px 4%;

}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #7d8de6;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover {
    color: #fff;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav ul a{
    margin-left: 2rem;
    font-weight: bold;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}


/* Estilo do topo do site*/
section.topo-site{
    padding: 40px 4%;
}

section.topo-site .flex{
    align-items: center;
    justify-content: center;  
    gap: 90px;  
}

.topo-site h1{
    color: #fff;
    font-size: 38px;
    line-height: 40px;
}

.topo-site .txt-topo-site h1 span{
    color: blue;
}

.topo-site .txt-topo-site p{
    color: #fff;
    margin: 40px 0;
}

.topo-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0%{
        top: 0;        
    }
    100%{
        top: 30px;
    }
}

/* Estilo das habilidades */
section.habilidades{
    padding: 40px 4%;
}

section.habilidades .flex{
    gap: 50px;
}

.habilidades .habilidades-box{
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 35px;
    transition: .2s;
}

.habilidades .habilidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #82cfee;
}

.habilidades .habilidades-box i{
    font-size: 50px;
    color: rgb(59, 228, 59);
}

.habilidades .habilidades-box h3{
    font-size: 28px;
    margin: 15px;    
}

/* Estilo sobre */
section.sobre{
    padding: 40px 4%;    
}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre{
    color: #fff;
    font-size: 25px;
}

.sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 20px;
}
.sobre .txt-sobre p{
    margin: 20px 0;
    text-align: justify;
}

.btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #34e42e;
    font-size: 20px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}

/* Estilo do Portfolio*/
section.portfolio{
    padding: 60px 4%;
    box-shadow: 0 0 20px 5px #7d8de6b7;
}

section.portfolio .flex{
    justify-content: space-around;
    margin-top: 60px;
}

.img-port{
    width: 260px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

.img-port:hover{
    background-position: 100% 0%;
}

.img-port{
    background-image: url(images/TI_ageis.png);
    transition: 20s;
}

.img-port{
    background-image : url(images\equipeTI.jpeg);
    transition: 10s;
}

.img-port{
    background-image: url(images/Equipe3DefinEstrat.jpg);
    transition: 20s;
}

.img-port{
    background-image: url(images/dino.png);
    transition: 10s;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #334ee6;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: .5s;
}

.overlay:hover{
    opacity: 1;
}

/* Estilo do formulário de contato */
section.formulario{
    padding: 80px 4%;
}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 35px;
}

form input, form textarea{
    width: 100%;
    background-color: #334ee6;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;    
}

form textarea{
    resize: none;
    max-height: 200px;
}

form .btn-enviar{
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input{
    width: 120px;
    background-color: #34e42e;
    color: #334ee6;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

/* Estilo do rodapé */
footer{
    padding: 40px 4%;
    box-shadow: 0 0 20px 5px #7d8de6b7;
}

footer .flex{
    justify-content: space-between;
}

footer .line-footer{
    padding: 20px 0;
}

.borda{
    border-top: 2px solid #82cfee;
}

footer .line-footer p i{
    color: #334ee6;
    font-size: 22px;
}

footer .line-footer p a{
    color: #fff;
}

@media screen and (max-width: 1020px) {
    /* Classes Gerais */
    .flex{
        flex-direction: column-reverse;
    }

    h2.titulo{
        font-size: 34px;
        line-height: 30px;
    }

    /* CABEÇALHO */
    .menu-desktop, .btn-contato{
        display: none;
    } 
    
    /* TOPO DO SITE*/
    selection.topo-site .flex{
        gap: 40px;
    }
    section.top-site{
        padding: 20px 8%;
    }

    .topo-site h1{
        font-size: 30px;
    }

    .topo-site .img-topo-site img{
        width: 100%;
    }

    /* HABILIDADES*/
    selection.habilidades{
        padding: 40px 8%;
    }

    /* SOBRE */
    selection.sobre{
        padding: 80px 8%;
    }

    .sobre .txt-sobre h2{
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }

    .img-sobre img{
        width: 100%;
    }

    .img-port{
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }

    selection.portfolio .flex{
        gap: 60px;
    }

    /* RODAPÉ */
    footer .flex{
        flex-direction: column;
    }

    footer .line-footer{
        text-align: center;
    }
}